@model MoviesApp.Models.Movie

<h2>Create Movie</h2>

@using (Html.BeginForm())
{
<label>Movie Name:</label>
                @Html.TextBoxFor(m => m.Moviename)

                                <label>Director Name:</label>
                                                @Html.TextBoxFor(m => m.DirectorName)

                                                                <label>Date of Release:</label>
                                                                                @Html.TextBoxFor(m => m.DateofRelease, "{0:yyyy-MM-dd}")

                                                                                                <input type="submit" value="Create" />}
